 <div class="jumbotron">
  <h1 class="display-4">Welcome to PussyPix!</h1>
  <p class="lead">This is the best market-place bla bla bla bla bla bla bla for real, I swear </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-secondary btn-lg" href="<%= items_path %>" role="button">Go to the SHOP!</a>
</div>