<div class="container-fluid home-page text-center">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <a role="button" href="<%= items_path %>" class="btn btn-primary w-25">Go Shop Now !!!</a>
        </div>
    </div>
  </div>